@media {
    
    .lead {
        width:100%;
        
    
    }
    
    .topper {
        background-image:url(23brainpic.jpeg);
        background-size: cover;
        background-position: center;
          
    }
    
    h1 {
        padding: 80px 40% 500px 30px;
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 50px;
        color:white;
    
    }
    
    .caption {
        background-color: #B5BEC6;
        color:#6A6A6A;
        font-size:10px;
    }
    
    .writer {
        font-family: 'Playfair Display', serif;
        font-size:30px;
        color:white;
        text-align: center;
    }
    
    .body {
        color: black;
        margin: 0px 300px 0px 300px;
        font-size: 20px;
        font-family: 'Playfair Display', serif;
        
        
    }

    .graph {
        background-color: #B5BEC6;
        padding: 50px 300px 50px 300px;
    }
    
    
    img {
        width:70%;
        margin: 10px 0px 10px 110px;
    }

    h2 {
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        color:#3C6997;
        padding: 20px 0px 20px 0px;
    }
    
    p {
        padding:10px 0px 10px 0px;
    }
    
    .pullquote{
        border-top: 3px solid #3C6997;
        border-bottom: 3px solid #3C6997;
        
        
        
    }

    .quotemark {
        font-size:110px;
        float:left;
        font-family:'IM Fell French Canon SC', serif;
        color: #3C6997;
        padding: 0px 10px 0px 0px;
        
       
            
        
    }
    
    .quote {
        color: #3C6997;
        font-family:'Raleway', sans-serif;
        padding: 50px 0px 0px 10px;
        
        
    }
    
    .attribution {
        color: #3C6997;
        font-family:'Raleway', sans-serif;
        padding: 0px 0px 0px 277px;
        font-size: 15px;
        
    }
    
}

@media (min-width:576px) {
    
}

@media (min-width:992px) {
    
}

@media (min-width:1200px) {
    
}