.container-fluid {
    background-color: #5A7684;
    height: 100vh;
    width: 100vw;
    font-family: 'Songti SC', sans-serif; 
    font-size: 75px ; 
    color: #F2EAED;
    font-weight: bold 200px;
}
.line {background-color: #6F625D;
    height: 3px;
    position: relative;
    top: -575px;
    margin-left: 10px;
    margin-right: 635px;
 
    
}
.second-heading {
    color: #F2EAED;
    position: absolute;
    top: 143px;
    margin-left: 10px;
    font-family: 'Songti SC', sans-serif;
    letter-spacing: 2px;
    font-size: 35px;
}
.contact-info {
    color: #F2EAED;
    position: absolute;
    top: 220px;
    margin-left: 10px;
    font-family: 'Songti SC', sans-serif; 
    font-size: 18px;
}
.email {
    color: #F2EAED;
    font-family: 'Songti SC', sans-serif; 
    position: absolute;
    top: 240px;
    margin-left: 10px;
    font-size: 18px
}
.resume-pic
margin-right: 10px;